@import url("https://fonts.googleapis.com/css?family=Amiri|Lato|Nanum+Myeongjo|Playfair+Display+SC&display=swap");

$textfont: 'Playfair Display SC', serif;
$heading3font: 'Amiri', serif;
$buttonfont: 'Nanum Myeongjo', serif;
$welcometextfont:'Lato', sans-serif;
