footer{
    background-color:$disabled-button-color;
    width: 100%;
    flex-shrink: 0;
 }
.footer_para{
    color: whitesmoke;
    text-align: center;
    padding-top: 2rem;
    font-family: $heading3font;
    font-size: 1em;
}

// media query

@media (max-width:$media-breakpoint-laptopHidpi) { 
    footer{
        width: 100%;
    }
}

@media (max-width:$media-breakpoint-ipadPro) {
    footer{
      font-size: 0.8em;
    }
}

@media (max-width:$media-breakpoint-piixel2PlusLandscape){
    footer{
        width: 100%;
        font-size: 0.8em;
    } 
}
@media (max-width:$media-breakpoint-ipad) {
    footer{
        width: 100%;
        font-size: 1.2em;
    }
}
@media (max-width:$media-breakpoint-microsoftlumia1) {
    footer{
        width: 100%;
        font-size: 0.8em;
    } 
}

@media (max-width:$media-breakpoint-pixel2) {
    footer{
        width: 100%;
        font-size: 0.8em;
    }  
}
@media (max-width:$media-breakpoint-iphoneX) {
    footer{
        width: 100%;
        font-size: 0.6em;
    }
}
@media (max-width:$media-breakpoint-G4) {
    footer{
        width: 100%;
        font-size: 0.8em;
    }
}

@media (max-width:$media-breakpoint-iphoneSE) {
    footer{
        width: 100%;
        font-size: 0.7em;
    }
}   
