body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

$white-color:#FFFFFF;
$button-background-color:#e25822;
$button-hover-color: #e22822;
$startGame-button-color:#CC3366;
$cardBackground-color:#000000;
$select-card-heading3-color:#ffef99;
$disabled-button-color:#996666;
$card-hover-color:#FFD700;
$goBackPage-link-color:#F0FFF0;
$boardCanvas-background-color: #641E16;
$winnerName-glow-text:#CC0066;

//welcome text heading1 shadow color
$grey-black-shadow1:#2e2e2e;
$grey-black-shadow2:#262626;
$grey-black-shadow3:#1e1e1e;
$grey-black-shadow4:#161616;
                    
//welcome text heading2 shadow color
$black-shadow:#000000;
$black-grey-shadow:#363636;

$media-breakpoint-iphoneSE:320px;
$media-breakpoint-G4:360px;
$media-breakpoint-iphoneX:375px;
$media-breakpoint-piixel2plus:411px;
$media-breakpoint-pixel2:414px;
$media-breakpoint-microsoftlumia1:640px;
$media-breakpoint-ipad:768px;
$media-breakpoint-piixel2PlusLandscape:823px;
$media-breakpoint-ipadPro:1024px;
$media-breakpoint-laptopMdpi:1280px;
$media-breakpoint-laptopHidpi:1440px;









